<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
    <form>
        <h1 class="titulo">CRUD USER</h1>
        <h2 class="subtitulo">Mais eficiencia no controle de usuarios</h2>

        <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome"> 
        <div> 
            <h1>Login</h1>
            <!-- Aqui você pode adicionar seu formulário de login -->
            <button (click)="login()" >Acessar</button>


          </div>
    </form>
    <p class="footer">  ©️ 2024 | Desenvolvido por Albiezer Fascio</p>
</div>