<nav class="sidemenu">
    <ul>
        <li routerLink="/home">
            <img src="assets/logo.png " width="40px" height="40px">
            <span class="logo">Crud User</span>
            
        </li>
        
        <li routerLink="/home"><mat-icon>Home</mat-icon>Home</li>
        <li routerLink="/Usuarios"><mat-icon>person_add</mat-icon>Cadastrar Usuarios</li>
        <a href="https://firebase.google.com/docs?gad_source=1&gclid=CjwKCAiA9bq6BhAKEiwAH6bqoDQ6Q8Qq70LqVa9FN8YAnTh9-nwr1638KRxPkiRLFa1PHAPyeSqjohoCDuQQAvD_BwE&gclsrc=aw.ds&hl=pt-br"target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
        <a href="https://angular.dev/overview"target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
        <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
    </ul>
</nav>
